{% extends 'base.html' %}
{% load static %}


{% block content %}
  <!-- about hero section  -->
  <section class="hero about_hero">
    <div class="container hero_container">
      <div class="hero_content">
        <div class="hero_title">
          <h1 id="typed-text">
            African Centre for Leadership, Strategy & Development NGO
            Publisher
          </h1>
        </div>

        <p>
          We seek to continue addressing pressing societal issues from
          leadership perspective through our journal, as well as keep up with
          carrying out community developmental services.
        </p>

      </div>
    </div>
  </section>
  <!-- end about hero section  -->

  <!-- about secction  -->
  <div style="
    display: flex;
    align-items: center;
   justify-content: center;
  padding-top:10rem;
  
  " class="section_title">
    <h1 style="font-size: 30px; background:var(--color-bg-gradiant); padding:2rem 1rem; color:var(--color-white);">Strategic Thinkers For Community Development Association (STFCDA)</h1>
  </div>
  <div class="container detail_container content">
    
    <div id="" class="detail_images ">
      <img class="detail_images1" src="https://tinypic.host/images/2023/11/08/photo_5931429615249769945_y.jpeg"
        alt="images of the association">

      <img class="detail_images2" src="https://tinypic.host/images/2023/11/08/photo_5931429615249769949_y.jpeg"
        alt="images of the association">
      <img class="detail_images3" src="https://tinypic.host/images/2023/11/08/photo_5931429615249769943_y.jpeg"
        alt="images of the association">
      <img class="detail_images4" src="https://tinypic.host/images/2023/11/08/photo_5931429615249769944_y.jpeg"
        alt="images of the association">
    </div>

    <div class="">
      <h4>About Us</h4>
      <div style="text-align: left;" class="detail_title">
        
      </div>
      <p>
        The (STFCDA) is a non-governmental organization (NGO)
        dedicated to advancing leadership, strategic thinking, and sustainable development across the African continent.
        Founded with a vision to empower African leaders and decision-makers, ACLSD has become a recognized force in
        shaping the future of leadership and development in Africa
      </p>

    </div>
    <a class="cta" href="">Learn More about Us!</i></a>
  </div>
  

  <section class="mission scroll-display content">
    <div class="section_title">
      <div class="circles">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
        <div class="circle circle4"></div>
      </div>
      <h2>Who We Are</h2>
    </div>
    <div class="mission_container">

      <div class="left">
        <div class="title">
          <h3>Our Mission</h3>
          <p></p>
        </div>


        <div class="">
          <p>
            <i class='bx bx-food-menu'></i>The mission of STFCDA is to foster lifelong connections among members,
            empowering them to collectively advance their personal and professional growth while lending their voice
            for solutions to societal challenges as well as contribute their quota towards combating climate change
            and its impacts
          </p>
        </div>


        <br><br>

        <h3>Our Vision</h3>

        <div class="">
          <p>
            <i class='bx bxl-trip-advisor'></i>Our vision extends beyond the ordinary; we aspire to cultivate a
            thriving community of innovative leaders who not only envision change but actively contribute to its
            realization. In our pursuit, we strive to foster an environment where creativity, collaboration, and
            forward-thinking are not just encouraged but celebrated. Together, we aim to inspire a generation of
            leaders who will shape the future with ingenuity and compassion, leaving an indelible mark on the world.
          </p>
        </div>
      </div>


      <div class="right">
        <div class="title">
          <h3>Aims & Objectives</h3>

        </div>

        <div class="">
          <p><i class='bx bx-collapse'></i>The general aims and objectives of STFCDA shall be to</p><br>

          <p>Encourage, promote and support the execution of quality leadership skills towards the advancement of
            educational, cultural, social, developmental and technological governance</p>

          <p>Facilitate networking events, knowledge-sharing platforms, and mentorship programs to support ongoing
            learning, collaboration and community engagement</p>

          <p>To play a part in the development of mankind and the society through sustainable community development
            services, corporate social responsibilities and non-profit ventures by leveraging the collective
            expertise of its members and the general public </p>


          <p>Develop a comprehensive database of members of STFCDA, promote good relations among members and ensure
            a measurable progress of its members
          </p>

          <p>Address current or emerging societal challenges in Africa from leadership perspective through an annual
            publication of African Journal of Leadership, Strategy and Development (AJLSD)</p>

          <p>Set up an evidence based leadership assessment criteria leading to awards of excellence in leadership
            accross sectorial competences in Africa</p>


        </div>
      </div>


    </div>
    </div>
  </section>

  <section id="team scroll-display">
    <div class="team_container">
      <div class="section_title">

        <h2>The Team Behing Our Success Story</h2>

      </div>

      <div class="members scroll-display">

        <h3>Executive Members</h3>
        <div class="executives">
          <div class="card">
            <div class="circle-container">
              <img
                src="https://play-lh.googleusercontent.com/HHJb4ew7S16SHjqNjp1nEkVKn8L2j1rXPjVmF4fqf-mGjZYYIjhHYKjUJSLbB7SRx1HS=w240-h580"
                alt="avatar">
            </div>
            <h4>Shruti</h4>
            <h5>Advisor</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
              ipsum dolor sit amet, consectetur adipiscing elit.
            </p>

            <div class="icons overlay">
              <h4>Shruti</h4>
              <h5>Advisor</h5>
              <a href="https://www.facebook.com/profile.php?id=61552780067198&mibextid=ZbWKwL" target="_blank"><i
                  class="bx bxl-facebook-square"></i></a>

              <a href="https://www.instagram.com/stfcda_org" target="_blank"><i class="bx bxl-instagram-alt"></i></a>

              <a href="https://x.com/stfcda_org"><i class="bx bxl-twitter" target="_blank"></i></a>

              <a href="https://wa.me/7069598738" target="_blank"><i class="bx bxl-whatsapp-square"></i></a>
            </div>

          </div>


          <div class="card">
            <div class="circle-container">
              <img
                src="https://play-lh.googleusercontent.com/HHJb4ew7S16SHjqNjp1nEkVKn8L2j1rXPjVmF4fqf-mGjZYYIjhHYKjUJSLbB7SRx1HS=w240-h580"
                alt="avatar">
            </div>
            <h4>Shruti</h4>
            <h5>Advisor</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
              ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>


          <div class="card">
            <div class="circle-container">
              <img
                src="https://play-lh.googleusercontent.com/HHJb4ew7S16SHjqNjp1nEkVKn8L2j1rXPjVmF4fqf-mGjZYYIjhHYKjUJSLbB7SRx1HS=w240-h580"
                alt="avatar">
            </div>
            <h4>Shruti</h4>
            <h5>Advisor</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
              ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>

          <div class="card">
            <div class="circle-container">
              <img
                src="https://play-lh.googleusercontent.com/HHJb4ew7S16SHjqNjp1nEkVKn8L2j1rXPjVmF4fqf-mGjZYYIjhHYKjUJSLbB7SRx1HS=w240-h580"
                alt="avatar">
            </div>
            <h4>Shruti</h4>
            <h5>Advisor</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
              ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>

      </div>

    </div>

  </section>

  <style>
    .section_title{
      display: flex;
      align-items: center;
      justify-content:center;
      margin: 2rem auto;
    }
    
    .section_title h1{
      font-size: medium;
      text-align:center;
    }
    
    h1,
    h2,
    h3 {
      text-align: center;
      margin-bottom: 2rem;
    
    }
    
    
    .about img {
      width: 100%;
      border-radius: 1rem;
    }
    
    .mission_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    
    
    .mission {
      margin-top: 6rem;
      width: var(--container-width-lg);
      margin: 06rem auto;
    }
    
    
    
    .read-more {
      display: none;
    }
    
    
    .expanded .read-more {
      display: block;
    }
    
    
    .right {
      position: relative;
      /* Required for absolute positioning */
    }
    
    
    .slide-in {
      position: absolute;
      opacity: 0;
      /* Initially invisible */
      transform: translateX(100%);
      /* Initially outside the viewport */
      animation: slideIn 1s forwards;
      /* Animation duration and fill-mode */
    }
    
    
    @keyframes slideIn {
      to {
        opacity: 1;
        /* Make the image visible */
        transform: translateX(0);
        /* Move the image to its original position */
      }
    }
    
    
    .left h3,
    .right h3 {
      margin-top: 3rem;
    }
    
    
    
    .members {
      margin-top: 3rem
    }
    
    .executives,
    .others {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
    }
    
    
    
    
    .card {
      position: relative;
      text-align: center;
      margin: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.144);
      transition: var(--transition);
      overflow: hidden;
    }
    
    
    .card:hover {
     box-shadow:1px 1px 1px 20px transparent;
    }
    
    
    
    .card .circle-container {
      margin: 0 auto;
      width: 200px;
      overflow: hidden;
    }
    
    
    
    .card .circle-container img {
      border-radius: 50%;
      width: 100%;
      display: block;
      margin-bottom: 1rem;
    }
    
    
    
    .overlay {
      position: absolute;
      bottom: -100%; /* Initially hide the overlay below the card */
      left: 0;
      width: 100%;
      height: 50%;
      background: var(--color-secondary);
      padding-top: 40px;
      transition: bottom 0.3s ease-in-out; /* Smooth transition effect */
      z-index: 5;
    }
    
    .overlay i{
      font-size: 35px;
      transition: var(--transition);
      color: var(--color-secondary);
    }
    
    .overlay i:hover{
      color: var(--color-secondary);
    }
    
    .card h4,
    .card h5{
      margin-bottom: 0.5rem;
      color: var(--color-white);
    }
    
    .card:hover .overlay {
      bottom: 0; /* Display the overlay on hover */
    }
    
    
    @media screen and (max-width: 1000px) {
      .about_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    
    
      .mission_container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    
    
      .executives,
      .others {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
      }
    
    
    
    }
    
    
    
    @media screen and (max-width: 700px) {
    
      .executives,
      .others {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    
    }
    
    
    .members .icons a:hover{
      /* scale: 1.5; */
      padding: 1.2rem 0.4rem 0.4rem 0.4rem;
    }
    
    .members .icons a i{
      font-size: 25px;
      color: var(--color-white);
    }
    
    .members .icons a i:hover{
      scale: 1.5;
    }
  </style>
  {% endblock content %}