<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strategic Thinkers For Community Development Association</title>

  <link rel="stylesheet" href="./assets/css/about.css" />
  <link rel="stylesheet" href="./assets/css/style.css" />
  <link rel="icon" href="./logo.png" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <header class="header">
    <div class="logo">
      <a href="">
        <img src="/logo.png" alt="" />
      </a>
    </div>

    <div class="hamburger">
      <li class="cta_nav1">
        <a class="cta" href="">Donate Now</a>
      </li>
      <div class="mobile">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>

    <nav class="nav_bar">
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Who We are</a>
        </li>
        <li>
          <a href="">Our Projects</a>
        </li>
        <li>
          <a href="">Journal (AJLSD)</a>
        </li>
        <li>
          <a href="">Contact Us</a>
        </li>
        <li>
          <a id="loadButton" class="cta cta_nav2" href="">Donate Now</a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- about hero section  -->
  <section class="hero about_hero">
    <div class="container hero_container">
      <div class="hero_content">
        <div class="hero_title">
          <h1 id="typed-text">
            African Centre for Leadership, Strategy & Development NGO
            Publisher
          </h1>
        </div>

        <p>
          We seek to continue addressing pressing societal issues from
          leadership perspective through our journal, as well as keep up with
          carrying out community developmental services.
        </p>

        <div class="hero_cta">
          <!-- <a class="cta" href="">Donate Now <i class='bx bx-right-arrow-alt' ></i></a> -->
        </div>
      </div>
    </div>
  </section>
  <!-- end about hero section  -->

  <!-- about secction  -->

  <section id="about">

  </section>
  <section class="about">
    <div class="container">
      <div class="about_container">
        <div class="left">
          <h1>About us</h1>
          <hr />
          <p>
            Strategic Thinkers for Community Development Association (STFCDA)
            is a non-governmental organization born out of the collective
            vision of Set 18 from the African Centre for Leadership, Strategy
            & Development's Leadership School. In the inception of our
            year-long program, our members set out to create a project that
            would endure beyond the classroom, leaving a positive impact on
            society. Through extensive brainstorming, the idea to launch a
            leadership journal emerged.
          </p>
          <br />

          <p>
            Throughout the program, we undertook seven community development
            initiatives. On the day of our graduation, we proudly unveiled the
            "African Journal for Leadership, Strategy & Development." Our
            mission is to persistently address critical societal issues
            through a leadership lens via our journal, while actively engaging
            in ongoing community development services. Join us in our journey
            towards impactful leadership and sustainable community
            development. #STFCDA_org #LeadershipForChange
          </p>
        </div>
        <div class="right">
          <img src="https://tinypic.host/images/2023/11/08/photo_5931429615249769945_y.jpeg" />
        </div>
        <div class="clear"></div>
      </div>


      <section class="mission"></section>
      <div class="mission">
        <h1>Mission Statement</h1>
        <div class="mission_container">
          <div class="left">
            <img src="https://tinypic.host/images/2023/11/08/photo_5931429615249769947_y.jpeg
                        " />
          </div>
          <div class="right">
            <hr />
            <p>
              At the core of STFCDA's mission is the belief that effective
              leadership is a catalyst for positive change in communities. Our
              journey began with a shared commitment among Set 18 members to
              go beyond the theoretical aspects of leadership education and
              translate knowledge into tangible actions.
            </p>
            <br />
            <p>
              The "African Journal for Leadership, Strategy & Development"
              stands as a testament to our dedication to intellectual
              exploration and the dissemination of insights that can shape the
              leaders of tomorrow. This platform serves as a bridge between
              academia and the practical challenges faced by communities,
              offering a space for thought-provoking discussions and
              innovative solutions.
            </p>

            <br />
            <p>
              Our seven community development services were not just isolated
              projects but milestones in our ongoing commitment to making a
              real difference. From empowering local youth to implementing
              sustainable environmental initiatives, each endeavor has been a
              stepping stone towards a more resilient and thriving society.
            </p>
            <br />
            <p>
              As we move forward, the journal remains our beacon, guiding us
              to delve deeper into leadership principles, strategies, and
              development practices. We envision it as a dynamic repository of
              ideas that not only captures the essence of our experiences but
              also sparks conversations that resonate on a global scale.
            </p>
            <br />
            <p>
              STFCDA is not merely an organization; it's a collaborative force
              driven by a passion for positive change. Join us in shaping a
              future where leadership is synonymous with responsibility,
              empathy, and a commitment to leaving a lasting impact on the
              communities we serve.
            </p>
          </div>
        </div>

        <div class="clear"></div>
      </div>



      <section id="team">

        <div class="team_container">
          <h1>
            Our Team
            <hr />
          </h1>

          <div class="executives">

            <div class="card">
              <div class="circle-container">
                <h1 style="color: #fff">S</h1>
              </div>
              <h2>Shruti</h2>
              <h4>Advisor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>

          </div>

          <div class="floor_members">
            <div class="card">
              <div class="circle-container">
                <h1 style="color: #fff">S</h1>
              </div>
              <h2>Shruti</h2>
              <h4>Advisor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem
                ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>

        </div>
      </section>


    </div>
  </section>


  <section id="uniqueness">
    <div class="container uniqueness_container">
      <p>What Sets Us Apart:
        [Explain what makes your organization unique. This could include your approach, values, or specific initiatives
        that distinguish you from others in your field.]</p>
    </div>
  </section>






  <!-- about footer section  -->
  <footer class="footer">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span>STFCDA</span>Strategic Thinkers For Community Development
        Association | Set 18 of African Centre for Leadership, Strategy &
        Development NGO Publisher, African Journal of Leadership, Strategy &
        Development
      </p>
      <div class="icons">
        <a href="https://www.facebook.com/profile.php?id=61552780067198&mibextid=ZbWKwL" target="_blank"><i
            class="bx bxl-facebook-square"></i></a>

        <a href="https://www.instagram.com/stfcda_org" target="_blank"><i class="bx bxl-instagram-alt"></i></a>

        <a href="https://x.com/stfcda_org"><i class="bx bxl-twitter" target="_blank"></i></a>

        <a href="https://wa.me/7069598738" target="_blank"><i class="bx bxl-whatsapp-square"></i></a>
      </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <p>
          <span>Contact Info</span> <i class="bx bxs-location-plus"></i> City,
          Country
        </p>
      </div>
      <div>
        <i class="bx bxs-phone"></i>
        <p>+23470 6959 8738</p>
      </div>
      <div>
        <i class="bx bxs-envelope"></i>
        <p><a href="#"> organisers@stfcda.org</a></p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <!-- <h2> Company<span> logo</span></h2> -->
      <img src="/logo.png" alt="" />

      <p class="menu">
        <a href="#"> Home</a>
        <a href="#"> Who We Are</a>
        <a href="#"> Our Projects</a>
        <a href="#"> Journal (AJLSD)</a>
        <a href="#"> Contact</a>
      </p>
      <p class="name">
        Copyright &copy; Strategic Thinkers For Community Development
        Association &copy; 2023
      </p>
    </div>
  </footer>
  <!-- end about footer section  -->
  <script src="./assets/js/main.js"></script>
</body>

</html>