{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- projets -->
  <section id="upcoming-events">
    <div class="container upcoming_events_container">
      <h2>Our rojects</h2>
      <div class="events">
        <div class="card">
          <div class="circle-container">
            <img src="https://t3.ftcdn.net/jpg/04/42/14/26/360_F_442142629_9FVeynbWpmbAznrKwIMTwoQFZQm7EmRe.jpg" alt="avatar" />
          </div>
          <h4>Title</h4>
          <h5>Desription</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="card">
          <div class="circle-container">
            <img src="https://t3.ftcdn.net/jpg/04/42/14/26/360_F_442142629_9FVeynbWpmbAznrKwIMTwoQFZQm7EmRe.jpg" alt="avatar" />
          </div>
          <h4>Title</h4>
          <h5>Desription</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="card">
          <div class="circle-container">
            <img src="https://t3.ftcdn.net/jpg/04/42/14/26/360_F_442142629_9FVeynbWpmbAznrKwIMTwoQFZQm7EmRe.jpg" alt="avatar" />
          </div>
          <h4>Title</h4>
          <h5>Desription</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="card">
          <div class="circle-container">
            <img src="https://t3.ftcdn.net/jpg/04/42/14/26/360_F_442142629_9FVeynbWpmbAznrKwIMTwoQFZQm7EmRe.jpg" alt="avatar" />
          </div>
          <h4>Title</h4>
          <h5>Desription</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
