{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
    
    .thank-you-container {
        margin: 12rem auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    h2 {
      color: #4caf50;
    }
  </style>

  <div class="thank-you-container">
    <h2>Thank You for Volunteering!</h2>
    <p>We appreciate your commitment and dedication. Your contribution makes a positive impact, and we are grateful to have you as part of our team.</p>
    <p>Thank you for making a difference!</p>
  </div>
{% endblock %}
